@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-spotlight {
  text-shadow: 0 0 20px rgba(75, 0, 130, 0.7), 0 0 40px rgba(75, 0, 130, 0.5);
  transition: text-shadow 0.3s ease-in-out;
}

.text-spotlight-hover:hover {
  text-shadow: 0 0 80px rgba(75, 0, 130, 0.7), 0 0 90px rgba(75, 0, 130, 0.5);
}
