# Environment variables
.env

# Virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite database file
port_app.db

# Packages
*.egg
*.egg-info/
dist/
build/
